@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    background: url('background.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.center {
    margin: auto;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center {
    background-color: rgba(0, 0, 0, .5);
    padding: 20px;
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%;
    flex: 1;
}

i {
    font-size: 25px;
    flex: 1;
}

a {
    text-decoration: none;
    color: white;
    flex: 1;
} 

/* Responsiveness for phone */
@media only screen and (max-width: 600px) {
    .center {
        margin-left: 10%;
        margin-right: 10%;
    }
}