/*@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');*/


.hero.has-background {
    position: relative;
    overflow: hidden;
  }
  .hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
  }
  .hero-background.is-transparent {
    opacity: 1;
  }



  .center {
    margin: auto;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center {
    background-color: rgba(0, 0, 0, .5);
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
}


i {
    font-size: 25px;
    flex: 1;
}

a {
    text-decoration: none;
    color: white;
    flex: 1;
}